#nextsteps {
   color: blue;
}

.imgsize {
   font-size: 0.5em !important;

}

.whitetext {
   color: white;
   font-size: 1.3em !important;
}

.videobanner {
  width: 100%;
  height: auto;
}

#my_video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: 100%;
}

video:focus { outline:none; }

img{
  border=0;
  text-decoration:none; 
  outline:none"
}

.container{
  display: grid;
  grid-auto-flow: column;
}